<div class="page-header">
  <h3>Advisor #<%= @advisor.id %></h3>
</div>

<div class="row">
  <div class="col-md-12 mb-2">
    <dl class="dl-horizontal">
      <dt>Email</dt>
      <dd><%= @advisor.email %></dd>

      <dt>Password</dt>
      <dd><%= @advisor.password %></dd>

      <dt>Firstname</dt>
      <dd><%= @advisor.firstname %></dd>

      <dt>Lastname</dt>
      <dd><%= @advisor.lastname %></dd>

    </dl>

    <div class="btn-group btn-group-justified">
      <a href="/advisors" class="btn btn-primary">
        Back
      </a>
    </div>
  </div>
</div>

<!-- A Advisor has many clients -->

<div class="row">
  <div class="col-md-12">
    <ul class="list-group">
      <li class="list-group-item list-group-item-info">
        Clients
      </li>

      <% @advisor.clients.each do |client| %>
        <li class="list-group-item">
          <a href="/clients/<%= client.id %>">
            <%= client.created_at %>
          </a>
          <div class="btn-group btn-group-xs pull-right">
            <a href="/clients/<%= client.id %>" class="btn btn-primary">
              <i class="fa fa-search-plus"></i>
            </a>
            <%if current_user == client.advisor %>
              <a href="/clients/<%= client.id %>/edit" class="btn btn-warning">
                <i class="fa fa-edit"></i>
              </a>
              <a href="/delete_client/<%= client.id %>" class="btn btn-danger" rel="nofollow">
                <i class="fa fa-trash-o"></i>
              </a>
            <% end %>
          </div>
        </li>
      <% end %>
    </ul>
  </div>
</div>
